[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pydantic = {extras = ["dotenv"], version = "*"}
aiohttp = {version = "==3.8.2", extras = ["speedups"]}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
denis-hodge-podge-bot = {editable = true, extras = ["lint", "test"], path = "."}

[requires]
python_version = "3.10"
python_full_version = "3.10.0"

[pipenv]
allow_prereleases = true
